<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="ForecastHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\DemandForecast\Backend\venv\Scripts\python.exe|E:\DemandForecast\Backend\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="E:\DemandForecast\Backend" />
        <add key="DJANGO_SETTINGS_MODULE" value="kd.settings" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
</configuration>
