<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Demand Forecaste New Test Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python36\python.exe|c:\users\administrator\appdata\local\programs\python\python36\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="Demand Forecating New Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\DemandForecast\venv\Scripts\python.exe|E:\DemandForecast\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="E:\DemandForecast" />
        <add key="WSGI_HANDLER" value="kd.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE " value="kd.settings" />
    </appSettings>
</configuration>
